# Django
db.sqlite3
*.pyc
__pycache__/
media/
staticfiles/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python
venv/
.venv/
*.egg-info/
dist/
build/

# Celery
celerybeat-schedule
celerybeat.pid
*.pem
